<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikola.insomniac">

    <uses-permission android:name="android.permission.WAKE_LOCK"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".MainActivity"
            android:label="@string/MainActivityTitle"
            android:screenOrientation="portrait"
         >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMore"
            android:screenOrientation="portrait"
            android:label="@string/Learnmore">
        <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".learnMore.LearnMoreInsomniac" android:label="@string/about_insomniac"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".learnMore.LearnMoreSleep"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreStimulusControl"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreImproveSleepQuality"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreWorryBook"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- AddTaskActivity -->

        <!-- Register the TaskContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".worrybook.TaskContentProvider"
            android:authorities="com.example.nikola.insomniac"
            android:exported="false"/>



        <activity android:name=".worrybook.WorryBook"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".ImproveSleep"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".improveSleep.SleepQuality"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".improveSleep.PhysicalActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".improveSleep.DailyLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".improveSleep.NightlyLight"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".improveSleep.Bedroom"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".improveSleep.Coffee"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".statistics.TrackProgress"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".worrybook.AlarmPopUp"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".alarms.AlarmService"
            android:enabled="true" />
        <receiver android:name=".alarms.AlarmReceiver" />


        <service android:name=".improveSleep.NightlyLightService"/>
        <service android:name=".improveSleep.DailyLightService"/>
        <service android:name=".improveSleep.StepsService"/>


    </application>

</manifest>