<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nikola.insomniac">

    <uses-permission android:name="android.permission.WAKE_LOCK"
        />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <activity android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:label="@string/MainActivityTitle"
            android:screenOrientation="portrait"
         >
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".learnMore.LearnMoreInsomniac" android:label="@string/about_insomniac"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <activity android:name=".learnMore.LearnMoreSleep"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreStimulusControl"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".onFirstStart.OnBoardingActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreImproveSleepQuality"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".learnMore.LearnMoreWorryBook"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>


        <!-- AddTaskActivity -->

        <!-- Register the TaskContentProvider -->
        <!-- Set name, authorities, and exported attributes -->
        <!-- exported = false limits access to this ContentProvider to only this app -->
        <provider
            android:name=".worrybook.TaskContentProvider"
            android:authorities="com.example.nikola.insomniac"
            android:exported="false"/>



        <activity android:name=".worrybook.WorryBook"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".worrybook.AlarmPopUp"
            android:screenOrientation="portrait"
            android:theme="@style/dialogTheme">
            <intent-filter>
                <action android:name="android.intent.action.CALL" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name=".worrybook.AlarmService"
            android:enabled="true" />

        <service
            android:name=".noData.NoDataService" />

        <receiver android:name=".worrybook.AlarmReceiver" />
        <receiver android:name=".noData.NoDataReceiver" />


    </application>

</manifest>